/data
/.venv
/outputs
.DS_Store
*.jpg
*.pth
*.zip
*.pdf
practice-1/outputs/model/train_data.pt
models/qwen3-0.6B/model.safetensors
models/t5-base/tf_model.h5
.gitignore
models/t5-base/rust_model.ot
.gitignore
models/t5-base/model.safetensors
models/t5-base/spiece.model
models/t5-base/flax_model.msgpack
.gitignore
models/t5-base/pytorch_model.bin
*.npy
*.csv
models/table_microsoft/model.safetensors
tacvu4_table_extraction/data/
**/private_test/
**/private_test.zip
tacvu4_table_extraction/runs/model_a/grid_crnn.pt
*.bin
*.json
*.h5
*.onnx
*.safetensors
*.jsonl
tacvu4_zocr/TACVU2/runs/question_router_layoutlmv3.pt
*.xlsx